.black-background {background-color:#000000;}
.white {color:#ffffff;}

body {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 4% auto;
    width: 40vw;
    text-align: center;
    background-color: cornflowerblue 
}

#title {
    font-size: 70px;
    margin-bottom: 6% 
}

#recommendation{
    padding-top: 15%;
}

#welcomeElement button{
    margin: 8% 0 15% 0;
    width: 70%
}

li{
    hyphens: auto; 
    text-align: justify
}
